h2 {
  margin-bottom: 10px;
}

.categories {
  grid-column: -1/1;
  display: block;
  text-align: center;
  justify-content: space-evenly;
}

.categories {
  color: var(--dark-green);
}

.cta-small {
  padding: 5px 30px;
}
