h1, h2 {
    text-align: left;
    margin: 5px;
}
  
.product-spec {
    display: flex;
    max-width: 320px;
    flex-direction: column;
}
  
.product-image {
    flex: 1;
}
  
.thumbnail {
    display: flex; 
    gap: 10px;
    margin-top: 5px;
}
  
.product-buy {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
  
.product-text {
    Margin: 10px;
    text-align: left;
}

.rec {
    margin-top: 30px;
    color: var(--dark-green);
}

.recommend {
    margin-top: 30px;
    max-width: 240px;
}
  
.cta-small {
    max-width: 80px;
    margin-top: 10px;
    padding: 6px 4px;
}

.cta-big {
    max-width: 125px;
    margin: 0px;
    padding: 6px 4px;
    font-size: 10pt;
}

